@*@model IEnumerable<SmartStore.Model.Entities.Factor>*@
@model SmartStore.Model.Entities.Factor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factor</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
    <link rel="stylesheet" href="~/Content/Factor/style.css">
</head>
<body>
    <div class="container">
        <h3>Factor</h3>
        <table class="table">
            <thead>
            <tr>
                <th>FactorNumber</th>
                <th>CreationDate</th>
                <th>PayNumber</th>
            </tr>
            </thead>
            <tbody>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FactorNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.PayNumber)</td>
                    </tr>
                }*@
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.FactorNumber)</td>
                <td>@Html.DisplayFor(modelItem => Model.CreationDate)</td>
                <td>@Html.DisplayFor(modelItem => Model.PayNumber)</td>
            </tr>
            </tbody>
        </table>
        <div style="padding-bottom: 20px">
            Payment Price : € @Html.DisplayFor(modelItem => Model.Price)
        </div>
        <form action="https://test.bitpay.com/checkout" method="post" style="text-align:center">
            <input type="hidden" name="action" value="checkout" />
            <input type="hidden" name="posData" value="" />
            <input type="hidden" name="data" value="8QeFoe7VzM5IvQsLhdY2R+jj6blCQVnP/lJPMLbOlr1Ov25BPJ07sVfwT8rJXAursKMd+Vs7pCtpHJpioo+augfUPq8IVwyO3osaMLMHguyveEYLwvISzb6luajOeAGRDMWdydGDnIPJyAhyWDar3Q==" />
            <input type="image" src="/Images/PaymentQrcode.jpeg" name="submit" style="width: 146px" alt="BitPay, the easy way to pay with bitcoins.">
        </form>
    </div>
    <!-- partial -->
    <script src="~/Content/Factor/script.js"></script>
</body>
</html>

